/* src/pages/ReservacionPagina.css */

.reservation-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .reservation-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 1rem;
    font-size: 1rem;
    color: #555;
  }
  
  input,
  select {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    margin-top: 1.5rem;
    padding: 0.8rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  /* src/pages/ReservacionPagina.css */

.error-message {
    color: red;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
  }
  